<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.307480430496-p05c69dhsv6vrf3fqag8923tffspf997</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Keep It Fresh uses your camera to scan and capture item photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Keep It Fresh uses your photo library so you can attach item photos from your album.</string>
</dict>
</plist>
